

.container [class*="col-"] {
  text-align: center;
  line-height: 200px;
  background-color: #fcc0cb;
}

.col-6.padding [id*="bottom"] {
  background-color: #F07F80;
  border: 2px solid #FFF;
}

.padding {
  padding: 10px;
}
